<div class="panel panel-primary">
  <div class="panel-heading">
<!--    {{ title }}--> <p>don't forget to add title here</p>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Coin Name</label>
        <label>
          <input type="text" class="form-control" name="coin_name"/>
        </label>
      </div>
      <div class="form-group">
        <label class="col-md-4">Coin Price</label>
        <label>
          <input type="text" class="form-control" name="coin_price"/>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
